body {
    margin: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}

.header {
    background-color: #ffff00;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-text {
    text-align: center;
}

.txt {
    font-size: 24px;
    font-weight: bold;
}

.price {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.price sup {
    font-size: 20px;
}

.why {
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header-imgs {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.header-img span {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    
    background-image: linear-gradient(
        0deg,
        hsl(64deg 100% 97%) 0%,
        hsl(63deg 100% 92%) 19%,
        hsl(63deg 100% 88%) 33%,
        hsl(63deg 100% 84%) 42%,
        hsl(62deg 100% 80%) 47%,
        hsl(62deg 100% 75%) 51%,
        hsl(62deg 100% 71%) 53%,
        hsl(61deg 100% 67%) 55%,
        hsl(61deg 100% 63%) 58%,
        hsl(61deg 100% 58%) 64%,
        hsl(60deg 100% 54%) 75%,
        hsl(60deg 100% 50%) 100%);
      

}

.wrapper {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

.wrapper, .arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header-main {
    text-align: center;
    /* margin-top: 20px; */
}

.block-t-shirt span {
    text-align: center;
    display: block;
}

.block-t-shirt {
    margin: 30px;
    border: 2px ;
    border: 4px solid black;
    border-radius: 5px;
    background-color: rgb(158, 158, 158);
}

.block-t-shirt img {
    object-fit: cover;
}

.buy-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    border: 1;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;;
    margin-bottom: 10px;
    padding: 5px;
}

.buy-button:hover {
    background-color: rgb(190, 190, 190);
}

.hr {
    margin: 0;
    padding: 1px;
    border: 4px double black;
    background-color: yellow;
}

.kupon {
    background-color: red;
    box-shadow: 4px 8px 10px rgba(128, 128, 128, 0.747);
    display: flex;
    justify-content: space-between;
}

.kupon-txt {
    margin: 15px;
    font-size: 23px;
    padding-top: 10px;
    color: white;
}

.accent {
    color: #ffff00;
    font-weight: bold;
    text-transform: uppercase;
}

.kupon-price {
    font-family: Arial, Helvetica, sans-serif;
}

.kupon-img img {
    display: block;
    object-fit: cover;
    object-position: right;
}

.page-thirt {
    display: flex;
}

.page-thirt {
    justify-content: center;
}

.ogl-how-size {
    background-color: gold;
    display: flex;
    font-size: 28px;
    justify-content: center;
}

.korzina-form {
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid black; */
}

.label-text {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.korzina-form {
    max-width: 300px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.oplata {
    font-size: 20px;
    color: green;
    justify-content: center;
    display: flex;
}

.hr2 {
    max-width: 170px;
    box-shadow: 4px 2px 7px grey;
}

.buy-button1 {
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.74);
    color: white;
    margin: auto;
    display: flex;
    padding: 20px;
    font-size: 30PX;
    cursor: pointer;
}

.korzina-input {
    width: 95%;
    padding: 10px;
    background-color: rgba(184, 181, 181, 0.342);
    /* border: 1px solid black; */
    box-shadow: 2px 2px 7px 2px grey;
    border: none;
}

.buy-button1:hover {
    background-color: rgba(0, 97, 0, 0.74);
}

::placeholder {
    color: rgb(92, 92, 90);
    /* Изменение надписей внутри формы */
}

.tp {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}

.header-podarok {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.ModalGift-content, .ModalTP-content{
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
    width: 80%;
}

.close {
    color: rgb(170, 170, 170);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    cursor: pointer;
}

